* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: red;
}

#odin-recipes-text{
    font-size: 50px;
    text-align: center;
    padding: 20px;
    color: white;
    display: block;
}

#odin-recipes-box {
    background-color: #FF6C36;
}

.recipe-container {
    background-color: #ec8139;
    padding: 45px;
    text-align: center; 
}

.container{
    display: inline-block;
    border: 3px solid white;
    width: auto;
    height: auto;
    padding: 15px;
    margin: auto 10px;
    background-color: burlywood;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

a:hover {
    color: red;
}

#odin-photo {
    height: 650px;
    width: auto;
    padding: 30px;
    margin: auto;
    display: block;
}

#odin-photo-container {
    background-color: red; 
}

/* tests */
